interface-rt#gui-object-transforms {
    margin-top: 1vh;
    margin-right: 33vh;
    height: 40vh;
}

interface-rt#gui-object-transforms label-lt#object-transforms-position,
interface-rt#gui-object-transforms label-lt#object-transforms-rotation,
interface-rt#gui-object-transforms label-lt#object-transforms-scale {
    margin-left: 1vh;
}

interface-rt#gui-object-transforms label-lt#object-transforms-position { margin-top: 1vh; }
interface-rt#gui-object-transforms label-lt#object-transforms-rotation { margin-top: 14vh; }
interface-rt#gui-object-transforms label-lt#object-transforms-scale { margin-top: 27vh; }

interface-rt#gui-object-transforms input#object-transforms-position-x, 
interface-rt#gui-object-transforms input#object-transforms-position-y, 
interface-rt#gui-object-transforms input#object-transforms-position-z,
interface-rt#gui-object-transforms input#object-transforms-rotation-x, 
interface-rt#gui-object-transforms input#object-transforms-rotation-y, 
interface-rt#gui-object-transforms input#object-transforms-rotation-z,
interface-rt#gui-object-transforms input#object-transforms-scale-x, 
interface-rt#gui-object-transforms input#object-transforms-scale-y, 
interface-rt#gui-object-transforms input#object-transforms-scale-z {
    margin-left: 4.5vh;
    width: calc( 100% - 7.5vh );
    height: 2vh;
    text-align: left;
}

interface-rt#gui-object-transforms label-lt#object-transforms-position-x-label, 
interface-rt#gui-object-transforms label-lt#object-transforms-position-y-label, 
interface-rt#gui-object-transforms label-lt#object-transforms-position-z-label,
interface-rt#gui-object-transforms label-lt#object-transforms-rotation-x-label, 
interface-rt#gui-object-transforms label-lt#object-transforms-rotation-y-label, 
interface-rt#gui-object-transforms label-lt#object-transforms-rotation-z-label,
interface-rt#gui-object-transforms label-lt#object-transforms-scale-x-label, 
interface-rt#gui-object-transforms label-lt#object-transforms-scale-y-label, 
interface-rt#gui-object-transforms label-lt#object-transforms-scale-z-label  {
    margin-left: 1vh;
    width: 0.75vh;
    height: 1.75vh;
    border-radius: 0.5vh;
    padding-top: 0.25vh;
}

/* position */

interface-rt#gui-object-transforms input#object-transforms-position-x {
    margin-top: 4vh;
    border-radius: 0.5vh 0.5vh 0 0;
}
interface-rt#gui-object-transforms input#object-transforms-position-y {
    margin-top: 7vh;
    border-radius: 0;
    background-color: rgba( 0, 0, 0, 0.7 );
}
interface-rt#gui-object-transforms input#object-transforms-position-z {
    margin-top: 10vh;
    border-radius: 0 0 0.5vh 0.5vh;
}

interface-rt#gui-object-transforms label-lt#object-transforms-position-x-label {
    margin-top: 4.25vh;
}
interface-rt#gui-object-transforms label-lt#object-transforms-position-y-label {
    margin-top: 7.25vh;
}
interface-rt#gui-object-transforms label-lt#object-transforms-position-z-label {
    margin-top: 10.25vh;
}

/* rotation */

interface-rt#gui-object-transforms input#object-transforms-rotation-x {
    margin-top: 17vh;
    border-radius: 0.5vh 0.5vh 0 0;
}
interface-rt#gui-object-transforms input#object-transforms-rotation-y {
    margin-top: 20vh;
    border-radius: 0;
    background-color: rgba( 0, 0, 0, 0.7 );
}
interface-rt#gui-object-transforms input#object-transforms-rotation-z {
    margin-top: 23vh;
    border-radius: 0 0 0.5vh 0.5vh;
}

interface-rt#gui-object-transforms label-lt#object-transforms-rotation-x-label {
    margin-top: 17.25vh;
}
interface-rt#gui-object-transforms label-lt#object-transforms-rotation-y-label {
    margin-top: 20.25vh;
}
interface-rt#gui-object-transforms label-lt#object-transforms-rotation-z-label {
    margin-top: 23.25vh;
}

/* scale */

interface-rt#gui-object-transforms input#object-transforms-scale-x {
    margin-top: 30vh;
    border-radius: 0.5vh 0.5vh 0 0;
}
interface-rt#gui-object-transforms input#object-transforms-scale-y {
    margin-top: 33vh;
    border-radius: 0;
    background-color: rgba( 0, 0, 0, 0.7 );
}
interface-rt#gui-object-transforms input#object-transforms-scale-z {
    margin-top: 36vh;
    border-radius: 0 0 0.5vh 0.5vh;
}

interface-rt#gui-object-transforms label-lt#object-transforms-scale-x-label {
    margin-top: 30.25vh;
}
interface-rt#gui-object-transforms label-lt#object-transforms-scale-y-label {
    margin-top: 33.25vh;
}
interface-rt#gui-object-transforms label-lt#object-transforms-scale-z-label {
    margin-top: 36.25vh;
}