html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    user-select: none;
    outline: none;
    box-shadow: inset 0 0 25vh black;
    overflow: hidden;
    background-color: #406885;
    /* background-image: url( https://64.media.tumblr.com/0f0b7d9ff650feec018bd69d9f0045b5/tumblr_pd6iwbkUDj1xwjxfmo1_500.gifv );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}

interface-lt, interface-rt, interface-lb, interface-rb, interface {
    margin: 0;
    min-width: 2vh;
    min-height: 2vh;
    width: 20vh;
    height: 10vh;
    background-color: #212124;
    border: none;
    border-radius: 1vh;
    box-shadow: 0 0 1vh black, inset 0 0 1vh black;
}
interface-lt, interface-rt, interface-lb, interface-rb { position: absolute; }
interface-lt { left: 0;  top: 0 }
interface-rt { right: 0; top: 0 }
interface-lb { left: 0;  bottom: 0 }
interface-rb { right: 0; bottom: 0 }

label-lt, label-rt, label-lb, label-rb, label {
    margin: 0;
    padding-top: 0.5vh; 
    padding-bottom: 0.5vh;
    padding-left: 1vh; 
    padding-right: 1vh;
    background-color: rgba( 0, 0, 0, 0.5 );
    border: none;
    border-radius: 0.5vh;
    box-shadow: 0 0 1vh black, inset 0 0 1vh black;
    font-family: Trebuchet MS;
    font-size: 1.5vh;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 0 0 1vh black;
}
label-lt, label-rt, label-lb, label-rb { position: absolute; }
label-lt { left: 0;  top: 0 }
label-rt { right: 0; top: 0 }
label-lb { left: 0;  bottom: 0 }
label-rb { right: 0; bottom: 0 }

input {
    margin: 0;
    min-width: 1vh;
    min-height: 2vh;
    padding-top: 0.5vh; 
    padding-bottom: 0.5vh;
    padding-left: 1vh; 
    padding-right: 1vh;
    background-color: rgba( 0, 0, 0, 0.5 );
    border: none;
    border-radius: 0.5vh;
    box-shadow: 0 0 1vh black, inset 0 0 1vh black;
    font-family: Trebuchet MS;
    font-size: 1.5vh;
    font-weight: normal;
    color: white;
    text-align: center;
    text-shadow: 0 0 1vh black;
}
input.lt, input.rt, input.lb, input.rb { position: absolute; }
input.lt { left: 0;  top: 0 }
input.rt { right: 0; top: 0 }
input.lb { left: 0;  bottom: 0 }
input.rb { right: 0; bottom: 0 }

list-lt, list-rt, list-lb, list-rb, list {
    margin: 0;
    padding: 0;
    background-color: rgba( 0, 0, 0, 0.5 );
    border: none;
    border-radius: 0.5vh;
    box-shadow: 0 0 1vh black, inset 0 0 1vh black;
    font-family: Trebuchet MS;
    font-size: 1.5vh;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 0 0 1vh black;
    overflow-x: hidden;
    overflow-y: auto;
}
list-lt, list-rt, list-lb, list-rb { position: absolute; }
list-lt { left: 0;  top: 0 }
list-rt { right: 0; top: 0 }
list-lb { left: 0;  bottom: 0 }
list-rb { right: 0; bottom: 0 }

button-lt, button-rt, button-lb, button-rb, button-free {
    margin: 0;
    padding-top: 0.5vh; 
    padding-bottom: 0.5vh;
    padding-left: 1vh; 
    padding-right: 1vh;
    background-color: rgba( 0, 0, 0, 0.5 );
    border: none;
    border-radius: 0.5vh;
    box-shadow: 0 0 1vh black, inset 0 0 1vh black;
    font-family: Trebuchet MS;
    font-size: 1.5vh;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 0 0 1vh black;
    background-image: none;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 0.15s ease;
}
button-lt, button-rt, button-lb, button-rb { position: absolute; }
button-lt { left: 0;  top: 0 }
button-rt { right: 0; top: 0 }
button-lb { left: 0;  bottom: 0 }
button-rb { right: 0; bottom: 0 }
button-lt:hover, button-rt:hover, button-lb:hover, button-rb:hover, button-free:hover {
    transform: scale( 1.1 );
    box-shadow: 0 0 1vh black, inset 0 0 0.5vh white;
}

flex-container-lt, flex-container-rt, flex-container-lb, flex-container-rb, flex-container {
    margin: 0;
    display: flex;
}
flex-container-lt, flex-container-rt, flex-container-lb, flex-container-rb { position: absolute; }
flex-container-lt { left: 0;  top: 0 }
flex-container-rt { right: 0; top: 0 }
flex-container-lb { left: 0;  bottom: 0 }
flex-container-rb { right: 0; bottom: 0 }
flex-container-lt.jc-center, flex-container-rt.jc-center, flex-container-l.jc-centerb, flex-container-rb.jc-center, flex-container.jc-center { justify-content: center; }
flex-container-lt.ai-center, flex-container-rt.ai-center, flex-container-l.ai-centerb, flex-container-rb.ai-center, flex-container.ai-center { align-items: center; }

.transparent { background-color: transparent; }

.no-box-shadow { box-shadow: none; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

/* animations */
@keyframes active-event {
    0% { background-color: rgba( 0, 0, 0, 0.7 ); }
    50% { background-color: rgba(0, 225, 255, 0.5 ); }
    100% { background-color: rgba( 0, 0, 0, 0.7 ); }
}
